body, pre, p, h3{
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.wrap {
  padding: 2vw 15vw 0;
}
.input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  tex
}
.input__block {  
  display: inline-block;
  width: 33vw;
  height: 15vw;
}
.input__content__textarea {
  display: block;
  width: 28vw;
  height: 10vw;
}
.input__content__button{
  margin-top: 1vw;
}
.input__examples__content{
  text-align:right;
}