body, pre, p{
  margin: 0;
  padding: 0;
}
.wrap {
  padding: 2vw 15vw 0;
}
.input{
  display: flex;
  flex-direction: row;
}
.input__block {  
  display: inline-block;
  width: 33vw;
  height: 15vw;
}
.input__content__textarea {
  display: block;
  width: 28vw;
  height: 10vw;
}
.input__content__button{
  margin-top: 1vw;
}